<!DOCTYPE html>
<html>
    <head>
            <style>
                    .error { color:red; }
             </style>

    </head>
    <body>
                <h1>Sign Up</h1> 
                <form method="POST">
                    <label>Username
                        <input type="text" name="user_name" value="{{user_name}}"/>
                    </label>
                    <p class="error">{{user_error}}</p>
                    <label>Password
                        <input type="password" name="password" value="{{password}}" />
                    </label>
                    <p class="error">{{password_error}}</p>
                    <label>Verify Password
                        <input type= "password" name="verify" value="{{verify}}" />
                    </label>
                    <p class="error">{{verify_error}}</p>
                    <label>Email (optional)
                        <input type ="text" name="email" value="{{email}}" />
                    </label>
                    <p class="error">{{email_error}}</p>
                    
            
                    <input type="submit" />
                </form> 
    </body>
</html>